* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "muli", "Arial", sans-serif;
    font-weight: 300;
    color: rgb(21, 27, 48);
}

body {
    background-color: rgb(21, 27, 48);
}

.wrapper {
    display: flex;
}

.wrapper-OrderTable {
    width: 100%;
}

.wrapper-SideBar {
    display: none;
}

.showSideBar .wrapper-OrderTable {
    width: 70%;
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 30px;
}

.showSideBar .wrapper-SideBar {
    position: relative;
    width: 30%;
    height: 100vh;
    display: block;
    background-color: #fff;
}
