* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
}

body {
    background-color: rgb(29, 37, 52);
}

.wrapper {
    display: flex;
}

.wrapper-OrderTable {
    width: 100%;
}

.wrapper-SideBar {
    display: none;
}

.showSideBar .wrapper-OrderTable {
    width: 70%;
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 30px;
}

.showSideBar .wrapper-SideBar {
    width: 30%;
    height: 100vh;
    overflow-y: scroll;
    display: block;
    background-color: #fff;
}