.container-history {
    background-color: #fff;
    margin-top: 72px;
    display: flex;
    flex-direction: column;
}

.container-history-items {
    margin-top: 72px;
    display:flex;
    background-color: #fff;
    flex-direction: column;
}

.history-header-back-feed {
    position: relative;
    position: fixed;
    z-index: 2;
    background-color: #fff;
    width: 30%;
}

.history-header-back-table {
    position: relative;
    position: fixed;
    z-index: 2;
    background-color: #fff;
    width: 30%;
}

.icon-back {
    font-size: 350%;
    margin-top: 80px;
    margin-left: 57px;
    color: black;
    position: absolute;
    top: -69px;
    left: -10px;
}

.history-header-title {
    padding: 20px 0px 20px 90px;
    font-size: 250%;
    border-bottom: 1px solid black;
}

.history-order-items {
    margin-top: 89px;
}


