.header{
    margin: 0 auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: rgb(209, 155, 74);
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
  }
  
  .header-title-main {
    font-size: 220%;
    font-weight: bold;
    position: relative;
  }
  
  .showSideBar .header-title-main {
    margin-left: 400px;
  }

  .header-sidebar-title {
    font-size: 220%;
    font-weight: bold;
    position: absolute;
    top: 15px;
    left: 120px;
  }
  
  .hamburger-icon {
    width: 5%;
    font-size: 320%;
    position: absolute;
    top: 4.5px;
    left: 27px;
  }
  
  